<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<!--Main UI Starts-->

<!-- Login Page Section -->
<section  class="loginFormArea" style="background-image: url('images/sales-bg.jpg');">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="loginHeader clearfix">
                        <div class="borderBox"></div>
                        <div class="logoBox">
                            <a href="index.html"><img src="images/company-logo.png" alt=""></a>
                        </div>
                        <div class="pageTitle">
                            <h2>WELCOME TO <span>SALES</span></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="loginForm">
                    <div class="loginFormIcon">
                        <!-- <i class="icofont-login"></i> -->
                        <img src="images/login-icon.png">
                    </div>
                    <div class="loginFormTitle">
                        <h3>Log in</h3>
                    </div>
                    <form class="login100Form FormValidate" ng-submit="login(username, password)">
                        <div class="inputDiv FormValidateInput" data-validate = "Enter username">
                            <input class="loginInput" type="text" ng-model="username" ng-class="{'shake':error}" name="username" placeholder="Username">
                            <span class="finputFocus">
                                <i class="icofont-ui-user"></i>
                            </span>
                        </div>
                        <div class="inputDiv FormValidateInput" data-validate="Enter password">
                            <input class="loginInput" type="password" ng-model="password" ng-class="{'shake':error}" name="pass" placeholder="Password">
                            <span class="finputFocus">
                                <i class="icofont-ui-lock"></i>
                            </span>
                        </div>
                        <div class="loginButton">
                            <button type="submit" name="login-submit" class="loginFormBtn">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Main UI Ends -->
<script>
//open-close menu
$(".toggle").click(function(event){
  event.stopPropagation();
  $(".resp-nav").slideToggle();
});
$(".resp-nav").on("click", function (event) {
  event.stopPropagation();
});
</script>
